{% extends "base.html" %}
{% load static %}

{% block title %}<title>Home</title>{% endblock title %}
    {% block content %}
        <section class="home ">
            <div class="nav-header ">
                <div class="nav-logo">
                    <h1>TedShop <span class="logo"></span></h1>
                </div>
                <nav class="links">
                    <li><a href="">Home</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                <div class="security">
                    <i class="fa fas security"></i>
                </div>
            </div>
            <div class="home-content ">
                <div class="home-text ">
                    <h1>Shop Online</h1>
                    <p>Shop online with us and get the best deals</p>
                </div>
                <div class="image-slider ">
                    <div class="slide active">
                        <img src="{% static 'images/handbag.jpg' %}" alt="image1">
                        <div class="slide-info">
                            <h2>Women's Fashion 2024  </h2>
                            <h1>new arrivals</h1>
                            <a href="">Shop Now</a>
                        </div>
                    </div>
                    <div class="slide ">
                        <img src="{% static 'images/shoes.jpg' %}" alt="image1">
                        <div class="slide-info">
                            <h2>Men's Fashion 2024  </h2>
                            <h1>new arrivals</h1>
                            <a href="">Shop Now</a>
                        </div>
                    </div>
                    <div class="slide ">
                        <img src="{% static 'images/coat.jpg' %}" alt="image1">
                        <div class="slide-info">
                            <h2>Children's Fashion 2024  </h2>
                            <h1>new arrivals</h1>
                            <a href="">Shop Now</a>
                        </div>
                    </div>
                    <div class="navigation" >
                        <div class="radio active"></div>
                        <div class="radio"></div>
                        <div class="radio"></div>
                    </div>
                </div>
            </div>
        </section>
        <script src="{% static 'js/app.js' %}"></script>
    {% endblock content %}