{% extends "base.html" %}
{% load static %}
{% block title %}
<title> Login</title>
{% endblock title %}
{% block content %}
<div class="form-cont">
    <div class="contain">
        <div class="form-box login">
            
            <form action="" method="POST">
                {% csrf_token %}
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" name="username" placeholder="Username" required>
                    <i class='bx bxs-user' ></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <p>or login with social account</p>
                <div class="social-icons">
                    <a href=""><i class='bx bxl-google' ></i></a>
                    <a href=""><i class='bx bxl-facebook' ></i></a>
                    <a href=""><i class='bx bxl-twitter' ></i></a>
                </div>
            </form>
        </div>
        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Hello, Welcome</h1>
                <p>Don't have a account ?</p>
                <a href="{% url 'shopingcentre:signup' %}"><button class="btn register-btn">Sign-Up</button></a>
            </div>            
        </div>
    </div>
</div>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}