
<div class="nav-header">
    <div class="nav-logo">
        <h1>TedShop <span class="logo"></span></h1>
    </div>
    <nav class="links">
        <li><a href="{% url 'shopingcentre:home' %}">Home</a></li>
        <li><a href="{% url 'shopingcentre:shop'%}">Shop</a></li>
        <li><a href="{% url 'shopingcentre:about'%}">About</a></li>
        <li><a href="{% url 'shopingcentre:contact'%}">Contact Us</a></li>
    </ul>
    <div class="authentication">
        <i class="fas fa-user"></i>
        <i class="fas fa-caret-down arrow"></i>
        <div class="auth">
            {% if user.is_authenticated %}
            <a href="{% url 'shopingcentre:logout'%}">Logout</a>
            {% else  %}
            <a href="{% url 'shopingcentre:login'%}">Login</a>
            <a href="{% url 'shopingcentre:signup'%}">Register</a>
            {% endif %}
        </div>
    </div>
    <div class="cart-icon">
        <a href="{% url 'cart_summary'%}"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="menu-icon hidden">
        <i class="fas fa-bars"></i>
    </div>
    </div>

</div>