@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --main--color: #4CAF50;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --smooth-transition-bottom: transition: bottom 0.4s ease, opacity 0.4s ease; /* Smooth transition */;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --gray-shadow: 20px 20px 10px gray;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1580px;
    --fixed-width: 620px;
}


body{
    background-color: var(--clr-grey-9);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif
}
.form-cont .contain{
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    box-shadow: var(--dark-shadow);
    overflow: hidden;
    margin: 20px;
}
.form-cont .contain .form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0 1.2s;
}
.contain.active .form-box{
    right: 50%;
}
.form-cont .contain .form-box.register{
    visibility: hidden;
}
.contain.active .form-box.register{
    visibility: visible;
}
.form-cont .contain .form-box form{
    width: 100%;
    
}
.form-cont .contain h1{
    font-size: 36px;
    margin: -10px 0;
    
}
.form-cont .contain .input-box{
    position: relative;
    margin:5px 0;
}
.form-cont .contain .input-box input{
    width: 100%;
    padding: 10px 0;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.form-cont .contain .input-box input::placeholder{
    color: #888;
    font-weight: 400;
}
.form-cont .contain .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}
.form-cont .contain .forgot-password{
    margin: 10px 0 15px;
}
.form-cont .contain .forgot-password a{
    font-size: 14.5px;
    color: #888;
    text-decoration: none;
}

.form-cont .contain .btn{
    width: 100%;
    height: 48px;
    background:var(--main--color);
    color: white;
    box-shadow: var(--light-shadow);
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400;
}
.form-cont .contain p{
    font-size: 14.5px;
    margin: 15px 0;
}
.form-cont .social-icons{
    display: flex;
    justify-content: center;
}
.form-cont .social-icons a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid var(--bg-black-900);
    border-radius: 8px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 0 8px;
}
.form-cont .toggle-box{
    position: absolute;
    width: 100%;
    height: 100%;
}
.form-cont .toggle-box::before{
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    border-radius: 150px;
    background: var(--main--color);
    z-index: 2;
    transition: 1.8s ease-in-out;
}
.form-cont .contain.active .toggle-box::before{
    left: 50%;

}
.form-cont .toggle-box .toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    /* background: var(--main--color); */
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}
.form-cont .toggle-box .toggle-panel.toggle-right{
    right: -50%;
    transition-delay: .6s;
}
.form-cont .toggle-box .toggle-panel.toggle-left{
    left: 0;
}
.form-cont .contain.active .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: .6s;
}
.form-cont .contain.active .toggle-panel.toggle-right{
    right: 0;
    transition-delay: 1.2s;

}
.form-cont .toggle-box .toggle-panel p{
    margin-bottom: 20px;
}
.form-cont .toggle-box .toggle-panel .btn{
    width: 160px;
    height: 48px;
    background: transparent;
    border: 2px solid #fff;
}
@media screen and (max-width: 768px) {
    .form-cont .contain{
        height: calc(100vh - 20px);
    }
    .form-cont .contain .form-box{
        width: 100%;
        height: 70%;
        bottom: 0;
    }
    .contain.active .form-box{
        right: 0;
        bottom: 30%;
    }
    .form-cont .contain.active .toggle-box::before{
        left: 0;
        top: 70%;
    }
    .form-cont .toggle-box::before{
        width: 100%;
        height: 300%;
        left: 0;
        top: -270%;
        border-radius: 20vw;
    }
    .form-cont .toggle-box .toggle-panel{
        width: 100%;
        height: 30%;
    }
    .form-cont .contain.active .toggle-panel.toggle-left{
        left: 0;
        top: -30%;
    }
    .form-cont .toggle-panel.toggle-left{
        top: 0;
    }
    .form-cont .toggle-panel.toggle-right{
        right: 0;
        bottom: -30%;
    }
    .form-cont .contain.active .toggle-panel.toggle-right{
        bottom: 0;
    }
}
@media screen and (max-width: 400px){
    .form-cont .contain .form-box{
        padding: 20px;
    }
    .form-cont .contain .toggle-box .toggle-panel h1{
        font-size: 30px;
    }
}

/* .container{
    position: relative;
    width: 100%;
    
    
    margin: 0 auto;
    margin-top: 20rem;
    padding: 0 1rem;
    z-index: 1;
    position: absolute;
}
.create-cont .row .form-container .form-group .color{
    background-color: red;
    color : white;
}
.create-cont{
    position: relative;
    width: 100%;
    max-width: var(--max-width);
    
    margin: 0 auto;
    margin-top: 10rem;
    padding: 0 1rem;
    z-index: 1;
    position: absolute;
}
.container .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.container .row form .update{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-left: 32rem;
    z-index: 2222;
    margin-top:5rem;
}
.container .row form .update button{
    background-color: var(--main--color);
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.7rem 0.5rem;
    color: white;
    margin-left: 10rem;
}
.container .row .form-container .form-group{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: var(--fixed-width);
    background-color: var(--clr-white);
    padding: 60px;
    border-radius: 10px;
    box-shadow: var(--light-shadow);
}

.container .row .form-container .form-group h1{
    font-family: var(--ff-primary);
    color: var(--clr-grey-5);
    text-align: center;
    text-transform: uppercase;
}
.container .row .form-container .form-group button{
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
    position: absolute;
    gap: 10rem;
}
.container .row .form-container .form-group input{
    width: 40%;
    padding: 10px;
    height: 20%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 10rem;
}
.form-row{
    left:25rem;
}
.container .row .account-auth{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.container .row .account-auth .btn{
    padding: 2rem;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
}
.container .row .account-auth .login-link{
    position: absolute;
    margin-left: 20rem;
    margin-top: 1rem;
}
.container .row .form-container .access{
    display: flex;
    flex-direction: row;
    left: 21rem;
    top: 8rem;
    display: flex;
    flex-direction: row;
    position: absolute;
}
.container .row .form-container .access .btn{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    background-color: #4CAF50;
    border: 1px solid #ccc;
    margin-left: 20rem;
    position: absolute;
    margin-top: -1rem;
}
.container .row .form-container .access .text{
    margin-left: 26rem;
    margin-top: -1rem;
} */
/* navigation bar */
.nav-header{
    display: flex;
    flex-direction: row;
    height: 5rem;
    position: fixed;
    width: 1580px;
    z-index: 999;
    box-shadow: var(--dark-shadow);
    background-color: #5f5e5e;
}
.nav-header .nav-logo{
    display: flex;
    flex-direction: row;
    position: absolute;
}
.nav-header .nav-logo .logo{
    margin-bottom: 10px;
    margin-bottom: 50px;
    color: #4CAF50;
    border-radius: 25px;
    background-color: #4CAF50;
    padding: 10px;
    position: absolute;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.nav-header .links{
    margin-top: 2rem;
    position: relative;
    margin-left: 25rem;
    gap: 5rem;
    display: flex;
}

.nav-header .links a{
    color: black;
    font-size: 2rem;
    font-weight: 500;
}
.nav-header .links a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #4CAF50;
    transition: width .3s;
}
.nav-header .links a:hover::after{
    width: 100%;
}
.nav-header .links a:hover{
    color: #4CAF50;
}
.nav-header .icons-content{
    position: relative;
    left: 10rem;
    display: flex;
    top: 2rem;
    gap: 2rem;
}
.nav-header .icons-content .authentication i{
    font-size: 2rem;
    
}
.nav-header .icons-content .authentication .arrow {
    font-size: 1rem;
    color: whitesmoke;
    position: absolute;
    right: 0px;
    top: 2rem;
    left: 10px;
    display: block;
}
.nav-header .icons-content .authentication:hover .arrow{
    display: block
}
.nav-header .icons-content .authentication .auth{
    display: none;
    position: absolute;
    right: 55px;
    margin-top: 15px;
    background-color: #222;
}
.nav-header .icons-content .authentication:hover .auth{
    display: block;
}
.nav-header .icons-content .authentication .auth a{
    display: block;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}
/* .nav-header .cart-icon{
    position: absolute;
    top: 2rem;
    left: 83rem;
} */
.nav-header .icons-content .cart-icon i{
    font-size: 2rem;
    color: black;
}

.nav-header .icons-content .cart-icon span{
    position: absolute;
    bottom: 4.5rem;
    left: 5rem;
    color:white;
}
.nav-header .menu-icon{
    display: none;
    position: absolute;
    top: 2rem;
    left: 50rem;
}
.nav-header .menu-icon i{
    font-size: 2rem;
    color: black;
}
.nav-header .menu-icon:hover{
    color: #4CAF50;
}
.nav-header .menu-icon .menu{
    display: none;
    position: absolute;
    top: 4rem;
}
/* footer */
/* homepage */
.home{
}
.home .home-content{
    margin-top: 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.home .home-content .home-text{
    margin-top: 10rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

}
.home .home-content .home-text h1{
    font-size: 3rem;
    color: #4CAF50;
    font-weight: 500;
    line-height: 0;
}
.home .home-content .home-text p{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    line-height: 0;
}
.home .home-content .image-slider{
    position: relative;
    width: 1200px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.home .home-content .image-slider .slide{
    z-index: 1;
    position: absolute;
    clip-path: circle(0% at 0 50%);
}
.home .home-content .image-slider .slide.active{
    clip-path: circle(150% at 0% 50%);
    transition: 2s;
    transition-property: clip-path;
} 
.home .home-content .image-slider .slide img{
    z-index: 1;
    width: 1580px;
    height: 500px;
    border-radius: 5px;
    box-shadow: var(--light-shadow);
    object-fit: cover;
}
.home .image-slider .slide .slide-info{
    position: absolute;
    top: 0;
    margin-top: 10rem;
    padding: 10px;
    margin-left: 25rem;    color: white;
    border-radius: 5px;
    box-shadow: var(--light-shadow);
}
.home .image-slider .slide .slide-info h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 0;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.home .image-slider .slide .slide-info h2{
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 3rem;
    font-weight: 300;
    line-height: 0;
    margin-left: 5rem;
}
.home .image-slider .slide .slide-info a{
    padding: 20px;
    margin-top: 15px;
    margin-left: 5rem;
    color: white;
    background-color: black;    
    border-radius: 15px;
    box-shadow: var(--light-shadow);
    margin-top: 10px;
    position: absolute;
}
.home .image-slider .navigation{
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-left: 10rem;
}
.home .image-slider .navigation .radio{
    background: rgba(255,255,255, 0.5);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.home .image-slider .navigation .radio.active{
    background: var(--main--color);
    box-shadow: rgba(0,0,0, 0.5);
}
/* about section */
.about{
    margin-top: 10rem;
    position: absolute;
}
.about .about-container{
    
}
.about .about-container .about-content{
    position: absolute;
    flex-wrap: nowrap;
}
.about .about-container .about-content img{
    
    width: 1580px;
    object-fit: cover;
    height: 500px;
}
.about .about-container .about-content h1{
    top: 50px;
    left: 50px; 
    font-size: 5rem;
    color: white;
    position: absolute;
}
.about .about-container .about-info{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    margin-left: 2rem;
}
.about .about-container .about-info .about-detail{
    background-color: rgb(251, 252, 251);
    padding: 2rem;
    margin-top: 35rem;
}
.about .about-container .about-info .about-history{
    
    margin-top: 35rem;
    background-color: white;
    padding: 2rem;
}
.about .about-container .about-info .about-history .Our-history{
    top: 0px;
    color: black;
}

.about .about-container .container{
    position: relative;
    width: 100%;
    min-height: 450px;
}
.about .about-container .container .contents-wraper{
    width: 70%;
    min-height: inherit;
    margin: 30px auto;
    text-align: center;
}
.about .about-container .contents-wraper .header h1{
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}
.about .about-container .contents-wraper .header h1::before{
    content: '';
    width: 200px;
    height: 2px;
    background-color: #006994;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.about .about-container .contents-wraper .testRow{
    width: 100%;
    min-height: inherit;
    position: relative;
    overflow: hidden;
}
.about .about-container .testRow .testItem{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about .about-container .testRow .testItem:not(.active){
    top: 0;
    left: -100%;
}
.about .about-container .testRow .testItem img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    outline: 2px solid #006994;
    outline-offset: 2px;
}
.about .about-container .testRow .testItem h3{
    font-size: 30px;
    font-style: italic;
    padding: 7px;
}
.about .about-container .testRow .testItem h4{
    font-style: italic;
}
.about .about-container .testRow .testItem p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 10px;
}
.about .about-container .contents-wraper .indicators{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    cursor: pointer;
}
.about .about-container .contents-wraper .indicators .dot{
    width: 15px;
    height: 15px;
    margin: 0px 3px;
    border: 3px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.about .about-container .contents-wraper .indicators .active{
    background-color: #006994;
}
@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}
/* contact page */
.contact{

}
.contact .about-content{
    position: absolute;
    flex-wrap: nowrap;
    margin-top: 10rem;
}
.contact .about-content img{
    
    width: 1580px;
    object-fit: cover;
    height: 500px;
}
.contact .about-content h1{
    top: 50px;
    left: 50px; 
    font-size: 5rem;
    color: white;
    position: absolute;
}
.contact .contact-info{
    margin-top: 45rem;
    position: absolute;
    display: flex;
    
}
.contact .contact-info .contact-form .socialIcon{
    margin-top: 38rem;
}
.contact .contact-info .contact-form  .contact-header{
    margin-bottom: 5rem;
}
.contact .contact-info .contact-form  .contact-header h2{
    margin-top: 3rem;
}
.contact .contact-info .contact-form .socialIcon i{
    font-size: 3rem;
}
.contact .contact-map{
    margin-bottom: 5rem;
    margin-left: 5rem;
}
.contact .contact-map img{
    width: 700px;
    height: 700px;
    object-fit: cover;
}
.contact .contact-info .contact-form{
    left: 10rem;
    position: relative;
}
.contact .contact-info .contact-form h1{
    font-size: 2rem;
    color: var(--text-black-700);
    margin-left: 2rem;
    font-weight: 400;
}
.contact .contact-info .contact-form h2{
    font-size: 3rem;
    font-weight: 800;
    color: black;
    line-height: 0;
}
.contact .contact-info .contact-form .form{
    position: absolute;
}
.contact .contact-info .contact-form .form input{
    width: 400px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid var(--text-black-700);
    padding: 10px;
    box-shadow: var(--light-shadow);
}
.contact .contact-info .contact-form .form textarea{
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-shadow: var(--light-shadow);
}
.contact .contact-info .contact-form .form .submit{
    background-color: var(--main--color);
    color: white;
}
.contact .contact-info .contact-form .form input,textarea:focus{
    border-bottom: 1px solid var(--main--color);
}
/* shop page */
.shop .about-content{
    position: absolute;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.shop .about-content img{
    width: 1580px;
    object-fit: cover;
    height: 500px;
    z-index: 1;
}
.shop .about-content h2{
    position: absolute;
    font-size: 2rem;
    color: white;
    top: 10rem;
    right: 40rem;
    text-transform: uppercase;
}
.shop .about-content h1{
    top: 12rem;
    right: 46rem;
    font-size: 2rem;
    color: white;
    position: absolute;
    text-transform: uppercase;
}
.shop .shop-container{
    display: flex;
    flex: 0 0 100%;
    margin: 5rem;
    margin-top: 35rem;
    position: absolute;
}
.shop .shop-container .shop-type{
    background-color: white;
    padding: 2rem;
    width: 200px;
    height: 400px;
    position: absolute;
    box-shadow: var(--dark-shadow);
    border-radius: 20px;
}
.shop .shop-container .shop-type .shop-categories{
    text-align: left;
    position: absolute;
    left:0 ;
    margin-left: 1rem;
}
.shop .shop-container .shop-type .shop-categories .category{
    position: absolute;
    left: 0;
    margin: 0;
    right: 0;
    padding: 0;
    color: black;
}
.shop .shop-container .shop-type .shop-categories h1{
    color: var(--text-black-700);
}
.shop .shop-container .shop-type .shop-categories .category li{
    list-style: none;
    margin-top: 20px;
    font-size: 2rem;
}
.shop .shop-container .shop-type .shop-categories .category a{
    text-decoration: none;
    color: black;
    margin-top: 30px;
    font-size: 2rem;
}
.shop .shop-container .shop-type .shop-categories .category a:hover{
    color: green;
}
.shop .shop-container-item{
    left: 25rem;
    position: absolute;
    top: 35rem;
    
}
.shop .shop-container-item .shop-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

}
.shop .shop-container-item .shop-content{
    background-color: white;
    width: 220px;
    height: 310px;
    border-radius: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 5rem;
    box-shadow: var(--gray-shadow);
}
.shop .shop-container-item .shop-item img{
    margin: 10px;
    height: 200px;
    width: 200px;
}
.shop .shop-container-item .shop-item h1{
    position: absolute;
    left: 0;
    top: 5rem;
    color: var(--main--color);
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.shop .shop-container-item .shop-item .shop-content .price{
    color: var(--main--color);
    position: absolute;
    top: 17rem;
    
}
/* .shop .shop-container-item .shop-item a{
    position: absolute;
    bottom: 5rem;
    left: 3rem;
    border: 1px solid transparent;
    font-size: 15px;
    text-decoration: none;
    background-color: white;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 20px;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    padding-top: 5px;
    text-align: center;
    align-items: center;

} */
.shop .shop-container-item .shop-item .view{
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    right: 10rem;
}
.shop .shop-container-item .shop-item .view a{
    color: white;
    border: 1px solid transparent;
    font-size: 15px;
    text-decoration: none;
    background-color: green;
    margin: 0;
    display: block;
    gap: 5px;
    border: 1px solid green;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    padding-top: 5px;
    text-align: center;
}
.shop .shop-container-item .shop-item .view .cartLink {
    display: block;

}
/* .shop .shop-container-item .shop-item .view .cartLink:hover{
    position: absolute;
    transition: var(--transition);
    display: block;
    background-color: white;
    color: green;
    border: 1px solid green;
    text-align: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 5rem;
    position: relative;

} */

.shop .shop-content .sale{
    height: 25px;
    width: 60px;
    padding-left: 15px;
    padding-top: 5px;
    background-color: var(--main--color);
    color: white;
    position: absolute;
    border-radius: 20px;

}
.shop .shop-content .sale h1{
    position: absolute;
    left: 5rem;
}
.footer .icon-container{
    display: flex;
    margin-top: 20rem;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: red;
    position: absolute;
}
.footer .icon-container a{
    text-decoration: none;
    color: black
    ;
}
.footer .icon-container a:hover{
    color: var(--main--color);
}
.footer .icon-container i{
}
/* product page */
.product{
    margin-top: 20rem;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
}
.product .back{
    margin-left: 20rem;
    position: absolute;
    top: -10rem;
}
.product .back a{
    color: rgb(253, 252, 252);
    text-decoration: none;
    border: 1px solid transparent;
    background-color: var(--main--color);
    padding: 10px 20px;
    border-radius: 10px;
}
.product .back a:hover{
    color: #ff6f61;
}
.product .img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product .img-container .big-image{
    margin-left: 20rem;
    margin-bottom: 10rem;
}
.product .img-container .big-image img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}
.product .img-container .small-images{
    display: flex;
    margin-left: 21rem;
    position: absolute;
    top: 15rem;
}
.product .img-container .small{
    overflow: hidden;
}
.product .img-container .small .img1{
    background-color: #5f5e5e;
}
.product .img-container .small img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin: 10px;
}
.product .img-container .small:hover img{
    border: 1px solid black;
    transform: scale(1.2);
    transition: var(--transition);
}
.product .img-container .small img:active{
    border: 2px solid black;
}
.product .info{
    margin-left: 10rem;
    margin-top: 10rem;
}
.product .product-content{
    margin-left: 10rem;
}
.product .product-content .product-name{
    font-size: 2rem;
    font: optional;
}
.product .product-content .rating{
    display: flex;
}
.product .product-content .rating i{
    color: gold;
}
.product .product-content .product-price{
    color: black;
}
.product .product-content .product-size{
    display: flex;
    gap: 2rem;
}
.product .product-content .product-size .psize{
    border: 1px solid var(--main--color);
    padding: 0 0.5rem;
}
.product .product-content .product-quantity{
    display: flex;
}
.product .product-content .product-quantity input{
    width: 3rem;
    height: 1rem;
    top: 1rem;
    position: relative;
    left: 2rem;
    border: 1px solid var(--main--color);
    text-align: center;
}
.product .product-content .product-quantity p{
    color: black;
    font-size: 1rem;
}
.product .product-content .product-btn{
    color: red;
    gap: 2rem;
}
.product .product-content .product-btn button{
    background-color: var(--main--color);
    color: white;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
}

/* cart page */

.cart-container{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    z-index: 1;
    position: absolute;
}
.cart-container h1{
    margin-left: 10re;
}
.cart-container .text-centre{
    position: absolute;
}
.cart-container .text-centre a{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--main--color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    margin-top: 10rem;
}
.cart-container .cart-content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}
.cart-container .cart-content .cart-item{
    background-color: white;
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    box-shadow: var(--dark-shadow);
    border-radius: 2rem;
    height: 220px;
    
}
.cart-container .cart-content .cart-item img{
    width: 200px;
    object-fit: cover;
    height: 220px;
    position: absolute;
    border-radius: 2rem;
}
.cart-container .cart-content .cart-item .cart-text{
    margin-left: 20rem;
}
.cart-container .cart-content .cart-item .cart-text .price{
    font-weight: 600;
    color: rebeccapurple;
}
.cart-container .cart-content .cart-item .cart-text .quantity{
    display: flex;
    position: relative;
}
.cart-container .cart-content .cart-item .cart-text .quantity input{
    width: 40px;
    height: 30px;
    position: relative  ;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5rem 2rem;
}
.cart-container .cart-content .cart-item .cart-text a{
    color: white;
    background-color: red;
    width: 5rem;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    left: 15rem;
    bottom: 2rem;
    text-decoration: none;
    font-weight: 600

}
.cart-container .cart-content .cart-item .cart-text .quantity button{
    background-color: var(--main--color);
    color: white;
}
.cart-container .cart-content .cart-item .cart-text .calculate{
    
    
    
}
.cart-container .cart-content .cart-item .cart-text .calculate{
    position: relative;
}
.cart-container .cart-content .cart-item .cart-text .calculate  .minus a{
    color: black;
    background-color: transparent;
    left: 3rem;
    bottom: 3.4rem;
}
.cart-container .cart-content .cart-item .cart-text .calculate  .plus a{
    color: black;
    background-color: transparent;
    left: 7.5rem;
    bottom: 4.5rem;
    
}
.cart-container .checkout-container{
    background-color: white;
    box-shadow: var(--dark-shadow);
    padding: 1rem;
    border-radius: 2rem;
    width: 500px;
    margin-left: 30rem;
    margin-top: 5rem;
    position:relative;
    height: 10rem;
}
.cart-container .checkout-container .check-content{
    display: flex  ;
    gap: 5rem;
}
.cart-container .checkout-container .check-content .total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.cart-container .checkout-container .check{
    color: black;
    font-weight: 800;
    font-size: 1rem;
}
.cart-container .checkout-container .shipping{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.cart-container .checkout-container .subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.cart-container .payment{
    display: flex;
    gap: 5rem;
}
.cart-container .payment .make-payment{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    width: 100px;
    margin-left: 2rem;
    position:absolute;
    top: 7rem;
}
.cart-container .payment .make-payment a{
    color: white;
}
.cart-container .payment .continue{
    background-color: var(--main--color);
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    width: 150px;
    margin-left: 2rem;
    position:absolute;
    top: 7rem;
    left: 10rem;
}
.cart-container .payment .continue a{
    color: white;
}
.cart-container .payment h1{
    margin-top: 12rem;
    position: absolute;
    top: 10rem;
}
@media (max-width:1571px){
    .nav-header{
        width: 1552px;
    }
    .home .home-content .image-slider .slide img{
        width: 1552px;
    }
    .about .about-container .about-content img{
        width: 1552px;
    }
    .contact .about-content img{
        width: 1552px;
        height: 300px;
    }
    .shop .about-content img{
        width: 1552px;
        height: 300px;
    }
}
@media (max-width:1290px){
    .nav-header{
        width: 1280px;
    }
    .home .home-content .image-slider .slide img{
        width: 1550px;
    }
    .nav-header .links{
        margin-left: 10rem;
    }
    .nav-header .icons-content{
        position: absolute;
        left: 50rem;
    }
    .about .about-container .about-content img{
        width: 1280px;
        height: 300px;
    }
    .contact .about-content img{
        width: 1280px;
        height: 300px;
    }
    .contact .contact-map{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
    }
    .contact .contact-map img{
        width: 600px;
        height: 600px;
    }
    .shop .about-content img{
        width: 1280px;
        height: 300px;
    }
    .shop .about-content h1{
        top: 8rem;
        right: 40rem;
    }
    .shop .about-content h2{
        top: 6rem;
        right: 34rem;
    }
    .shop .shop-container{
        margin-top: 25rem;
    }
    .shop .shop-container-item{
        margin-top: -10rem;
        gap: -1rem;
    }
    .shop .shop-container-item .shop-item{
        gap: -1rem;
    }
}
@media (max-width:1115px) {
    .nav-header {
        width: 1114px;
    }
    .home .home-content .image-slider .slide img{
        width: 1114px;
    }
    .contact .about-content img{
        width: 1114px;
    }
    .nav-header .nav-logo .logo{
        padding: 5px;
    }
    .shop .about-content img{
        width: 1114px;
    }
    .shop .about-content img{
        width: 1114px;
        position: absolute;
    }
    .about .about-container .about-content img{
        width: 1114px;
    }
    .shop .shop-container{
        display: flex;
        flex-direction: column;
        position: absolute;
        flex: 0 0 50%;
        left: 2rem;
        bottom: 20rem;
    }
    .about .about-container .about-info{
        display: flex;
        flex-direction: row;
        margin: 0;
        
        gap: 5px;
        position: relative;
    }
    .about .about-container .about-info .about-detail{
        margin: 0;
        margin-top: 20rem;
        margin-left: 2rem;
    }
    .about .about-container .about-info .about-history{
        margin: 0;
        margin-top: 20rem;
        margin-left: 2rem;
    }
    .about .about-container .container{
        position: relative;
        left: 0;
        right: 0;
        margin-left: -2rem;
    }
    .shop .shop-container .shop-type{
        height: 50px;
        width: 450px;
        padding: 0;
        position: absolute;
        top: 1rem;
        margin-top: 20rem;
    }
    .shop .shop-container .shop-type .shop-categories {

    }
    .shop .shop-container .shop-type .shop-categories .category{
        display: flex;
        gap: 2rem;
        position: relative;

    }
    .shop .shop-container .shop-type .shop-categories h1{
        display: none;
    }
    .shop .shop-container-item{
        left:2rem;
        bottom: 15rem;
        position: absolute;
    }
    .contact .contact-info{
        display: flex;
        flex-direction: column-reverse;
    }
    .contact .contact-info .contact-form{
        left: 5rem;
        position: relative;
    }
    .contact .contact-info .contact-form .form{
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .contact .contact-map{
        margin-top: 25rem;
        margin-left: 5rem;
    }
    .contact .contact-info .contact-form .socialIcon{
        margin-top: 10rem;
        margin-left: 45rem;
    }
}

@media (max-width:820px){
    .image-slider{
        width: 600px;
        height: 375px;
    }
    .home .image-slider .slide .slide-info{
        padding: 10px 25px;
    }
    .home .image-slider .slide .slide-info h1{
        font-size: 35px;
    }
    .home .image-slider .slide .slide-info p{
        width: 70%;
        font-size: 15px;
    }
    .home .image-slider .navigation{
        bottom: 25px;
    }
    .home .image-slider .navigation .radio{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
    .shop .shop-container-item .shop-item{
        margin-left: 5rem;
    }
}

@media (max-width:700px){
    .image-slider{
        width: 400px;
        height: 250px;
    }
    .shop .about-content img{
        width:700px;
    }
    .shop .about-content h1{
        right: 16rem;
    }
    .shop .about-content h2{
        right: 10rem;
    }
    .nav-header .menu-icon{
        display: block;
        left: rem;   
    }
    .shop .shop-container-item .shop-content{
        width: 150px;
        height: 200px;
    }
    .shop .shop-container-item .shop-item{
        margin-left: 5rem;
    }
    .shop .shop-container-item .shop-content img{
        height: 100px;
        width: 120px;
    }
    .shop .shop-container-item .shop-item h1{
        top: 3rem;
        font-size: 10px;
    }
    .shop .shop-container-item .shop-item .shop-content .price{
        top: 7rem;
    }
    .shop .shop-container-item .shop-item .view{
        right: 8rem;
    }
    .nav-header .authentication{
        left: rem;
    }
    .nav-header .cart-icon{
        left: rem;
    }
    .home .image-slider .slide .slide-info{
        padding: 10px 20px;
    }
    .home .image-slider .slide .slide-info h1{
        font-size: 30px;
    }
    .home .image-slider .slide .slide-info p{
        width: 80%;
        font-size: 13px;
    }
    .home .image-slider .navigation{
        bottom: 15px;
    }
    .home .image-slider .navigation .radio{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
    .nav-header .menu-icon{
        left:30rem;


    }
    .nav-header .authentication{
        left: 20rem;
    }
    .nav-header .cart-icon{
        left: 25rem;
    }

}
@media (max-width:420px){
    .image-slider{
        width: 320px;
        height: 200px;
    }
    
    
    .home .image-slider .slide .slide-info{
        padding: 5px 10px;
    }
    .home .image-slider .slide .slide-info h1{
        font-size: 25px;
    }
    .home .image-slider .slide .slide-info p{
        width: 90%;
        font-size: 11px;
    }
    .home .image-slider .navigation{
        bottom: 10px;
    }
}